<%- include('../partials/header') %>
<div class="shop-index">
    <div class="contain" id="shop-header">
        <h1>Chicago Lakeview Coffee Shops </h1>
        <h3>Click on a coffee shop to add or read reviews</h3>
        <h3>Can't find the shop you're looking for? You can add it below!</h3>
    </div>
    
    <div class="container">
    <br></br>
    
            <% shops.forEach(shop => { %>
                <div class="row">
                    <div class ="card">
                
                    <h2><%= shop.name %></h2>
                    <div class="shop-image"></div>
                        <img src="<%= shop.picture %>" alt="" style="height:300px;">
                    </div>
                    <a class="waves-effect waves-light btn-small brown lighten-3 container" style="width:200px;" href="<%= shop.websiteUrl%>">VISIT WEBSITE</a>
                    <p></p>
                    <a class="waves-effect waves-light btn-small brown lighten-3 container" style="width:200px;" href="shops/<%= shop._id %>">DETAILS & REVIEWS</a>
            <% }) %>
            </div>
        </div>
        
            <div id="new-shop">
                <p>Don't see a Lakeview Coffee Shop you love?</p>
                <a href="/shops/new" class="button">Add it here!</a>
            </div>
        </div>
</div>
    <%- include('../partials/footer') %>