<%- include('../partials/header') %>
<h1>Coffee Shops Index</h1>

    
    <div>
    <br></br>
    
            <% shops.forEach(shop => { %>
                <div class="row">
                    <div class ="card">
                
                    <h2><%= shop.name %></h2>
                    <div class="shop-image"></div>
                        <img src="<%= shop.picture %>" alt="" style="height:300px; width:300x;">
                    </div>
                    <p><a href="<%= shop.websiteUrl%>">Website</a></p>
                    <a href="shops/<%= shop._id %>">DETAILS</a>
                    <form action="/shops/<%= shop._id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                    
                
            <% }) %>
            </div>
        </div>
        
    <div id="new-shop">
        <p>Don't see a Lakeview Coffee Shop you love?</p>
        <a href="/shops/new" class="button">Add it here!</a>
    </div>
</div>
    <%- include('../partials/footer') %>