<%- include('../partials/header') %>
  <section class="shop-page" style="background-image: url(<%= shop.picture %>);">
    <a class="waves-effect waves-light btn-small black lighten-3 container center-align" href="/shops">Back To All Shops</a>
    <div class="shop-info container">
    <h1 class="container center-align">
        <%=shop.name%>
    </h1>
    <section id="show-page">
        <div><a class="waves-effect waves-light btn-small brown lighten-1 container" href="<%= shop.websiteUrl %>">Website</a></div>
      

        <div id="add-review-section" class="container">
            <h4 class="container center-align">Add New Review:</h4>
            <div class="row"></div>
            <form id="add-review-form" class="col s12" method="POST" action="/shops/<%= shop._id %>/reviews">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name="caption"></textarea>
                        <label for="textarea1">Write Review Here</label>
                    </div>
                </div>
        
        <select class="browser-default" name="rating">
            <option value="" disabled selected>Choose your Rating</option>
            <option value="1">1 &#9733;</option>
            <option value="2">2 &#9733; &#9733;</option>
            <option value="3">3 &#9733; &#9733; &#9733;</option>
            <option value="4">4 &#9733; &#9733; &#9733; &#9733;</option>
            <option value="5">5 &#9733; &#9733; &#9733; &#9733; &#9733;</option>
        </select>
        
        <br>
        <div class="container center-align">
            <input class="waves-effect waves-light btn-small brown lighten-1 container" style="width:200px;" type="submit" value="Add Review">
          </div>
        </div>
        </form>



        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Review:</th>
                    <th>Rating:</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <h3 class="container center-align"id="reviews header">Reviews</h3>
                </thead>
                <tbody>
                  <% posts.forEach(function(post) { %>
                  <tr>
                    <td><%= post.userName %> </td>  
                    <td><%= post.caption %></td>
                    <td><%= post.rating %></td>
                    <td>  
                      <% if (post.user.equals(user && user._id)) { %>
                      <form action="/shops/<%= shop._id %>/reviews/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="delete-button" type="submit">Delete</button>
                      </form>
                      <% } %>
                    </td>
                    <td>  
                      <% if (post.user.equals(user && user._id)) { %>
                      <form action="/shops/<%= shop._id %>/reviews/<%= post._id %>/edit?_method=PUT" method="POST">
                        <button class="update-button" type="submit">Edit</button>
                      </form>
                      <% } %>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
            </table>
        </div>
      </div>
        <br>
      </section>
        <%- include('../partials/footer') %>